<ng-container class="mr-5" *ngIf="user$ | async as person; else nullUser">
  LOGGED IN 
  {{person.displayName}}
  <button 
  class="btn btn-primary " 
  (click)="logout()">
  logout
  </button>
</ng-container>

<ng-template #nullUser>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="text" class="form-control" id="password" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary text-center">Submit</button>
    </form>
    
  </div>

  <hr>
  <!-- GOOGLE BUTTON -->
    <button 
      class="btn btn-block btn-primary g-btn mt-4"
      (click)="googleLogin()">
        <span class="material-icons">android</span> 
        Google Login
    </button>
<!-- APPLE BUTTON -->
    <button 
      class="btn btn-block btn-primary a-btn mt-4"
      (click)="googleLogin()">
        <span class="material-icons">phone_iphone</span>
        Apple Login
    </button>

</ng-template>
